meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(href="/css/error.css", rel="stylesheet")
title 404 Not Found
main
  .message
    strong 404
    p.title LOOKS LIKE YOU ARE LOST IN THE SPACE ^^
    p.message-text.
      
      The page you are looking for might be removed or is temporally unavailable
      
  a.error(href="/") home